### Lendo um arquivo txt

In [2]:
import os

### Qual o diretório corrente?

qual diretório corrente = get current work directory = getcwd()

In [3]:
os.getcwd()

'/media/flalix/5c1ba0b4-f897-451c-9068-ac5e57194590/flalix/python/curso/cursopy2020/curso_python/lecture01 - python básico'

### O que existe neste diretório ?

"./" = este diretorio

In [4]:
os.listdir("./")

['week01 - lecture01 - introducao.ipynb',
 '.ipynb_checkpoints',
 'week01 - lecture02 - acessando tabelas.ipynb',
 'exemplo_rascunho.ipynb',
 'week01 - lecture02 - acessando tabelas_ant.ipynb']

### O que existe um diretório abaixo?

In [6]:
os.listdir("../")

['lecture06 - resolvendo um problema',
 'LICENSE',
 'lecture02 - pandas',
 'lecture07 - machine learning',
 'lecture03 - estatística básica',
 'requirements.txt',
 'lecture00 - introduction',
 'README.md',
 'lecutre08 - case - exercise',
 'lecture01 - python básico',
 'data',
 '.git',
 'lecture05 - gráficos',
 'lecture04 - teste de hipótese',
 'docs']

### O que existe dois diretórios abaixo?

In [8]:
os.listdir("../../")

['texts_docs',
 '.~lock.seus dados e email google.xlsx#',
 'curso_python',
 'backup',
 'rascunho - extras',
 'docs']

### Quais os arquivo estão em ../data ?

In [9]:
os.listdir("../data/")

['altitude.txt',
 'stm.txt',
 'velocities.txt',
 'stars.txt',
 'circular.txt',
 'TB_data_dictionary_2020-09-11.csv',
 'TB_outcomes_2020-09-11.csv',
 'exemplo_estranho.txt',
 'exemplo.html',
 'sunspots.txt']

In [10]:
fname = '../data/exemplo_estranho.txt'
os.path.exists(fname)

True

### Que erro gritante ! Como parar?
### Clique no quadrado preto ao lado de Run
### Porque isto ocorreu?

In [ ]:
# 'r' == read only
# qual o erro??? nunca sai??
with open(fname, 'r') as f:  # , encoding='utf-8'

    while True:
        line = f.readline()
        print(line)

### Se não conseguir ler: pare

In [11]:
# 'r' == read only

with open(fname, 'r') as f:  # , encoding='utf-8'

    while True:
        try:
            # leia uma linha
            line = f.readline()
            
            # se linha vazia entrão break (cai fora do loop)
            if line == '':
                break
            print(line)
        except:
            break

#-- \n == carriage return
print("\n---- fim ----")

maca-23423 porque

uva-45678 assim

pera-7887 como

laranja-8232 entre


---- fim ----

### Numerar linhas

In [13]:
num = 0

with open(fname, 'r') as f:  # , encoding='utf-8'

    while True:
        try:
            line = f.readline()

            if line == '':
                break
            
            num += 1
            print(num, ")", line)
        except:
            break
            
print("\n---- fim ----")

1 ) maca-23423 porque

2 ) uva-45678 assim

3 ) pera-7887 como

4 ) laranja-8232 entre


---- fim ----

### Processando arquivo texto
### Abrindo em uma matriz com 2 termos

\<string>.strip() - remova brancos antes de depois da string  
\<string>.split(pattern) - quebre o string de acordo com um pattern (modelo, substring)

In [14]:
with open(fname, 'r') as f:  # , encoding='utf-8'

    while True:
        try:
            line = f.readline()
            if line == '':
                break
            
            line = line.strip() # tire os espaços antes e depois
            mat = line.split('-')
            print(mat)
        except:
            break

#-- \n == carriage return
print("\n---- fim ----")

['maca', '23423 porque']
['uva', '45678 assim']
['pera', '7887 como']
['laranja', '8232 entre']

---- fim ----

### Processando arquivo texto
### Abrindo em uma matriz com 3 termos

In [15]:
with open(fname, 'r') as f:  # , encoding='utf-8'

    while True:
        line = f.readline()
        if line == '':
            break

        line = line.strip() # tire os espaços antes e depois
        mat = line.split('-')

        termo0 = mat[0]
        mat = mat[1].split(' ')
        termo1 = mat[0]
        termo2 = mat[1]

        print(termo0, '\t', termo1, '\t', termo2)


#-- \n == carriage return
print("\n---- fim ----")

maca 	 23423 	 porque
uva 	 45678 	 assim
pera 	 7887 	 como
laranja 	 8232 	 entre

---- fim ----

### TB outcomes - WHO

https://www.who.int/tb/country/data/download/en/

In [16]:
fname = "../data/TB_outcomes_2020-09-11.csv"
os.path.exists(fname)

True

In [17]:
# carregando a biblioteca/pacote pandas
import pandas as pd

df = pd.read<tab> .... o que ocorre

### df = pd.read<tab> .... o que ocorre??
    
lendo um arquivo local

In [20]:
df = pd.read_csv(fname)
# linhas e colunas == shape
df.shape

(5109, 72)

### Lendo a cabeça de um arquivo: primeiras linhas

In [23]:
df.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,rep_meth,new_sp_coh,new_sp_cur,new_sp_cmplt,...,mdr_coh,mdr_succ,mdr_fail,mdr_died,mdr_lost,xdr_coh,xdr_succ,xdr_fail,xdr_died,xdr_lost
0,Afghanistan,AF,AFG,4,EMR,1994,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AF,AFG,4,EMR,1995,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AF,AFG,4,EMR,1996,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1997,100.0,2001.0,786.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1998,100.0,2913.0,772.0,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Lendo o rabo de um arquivo: últimas linhas

In [24]:
df.tail()

,country,iso2,iso3,iso_numeric,g_whoregion,year,rep_meth,new_sp_coh,new_sp_cur,new_sp_cmplt,...,mdr_coh,mdr_succ,mdr_fail,mdr_died,mdr_lost,xdr_coh,xdr_succ,xdr_fail,xdr_died,xdr_lost
5104,Zimbabwe,ZW,ZWE,716,AFR,2013,NaN,NaN,NaN,NaN,...,351.0,207.0,1.0,43.0,14.0,NaN,NaN,NaN,NaN,NaN
5105,Zimbabwe,ZW,ZWE,716,AFR,2014,NaN,NaN,NaN,NaN,...,381.0,193.0,6.0,66.0,21.0,0.0,0.0,0.0,0.0,0.0
5106,Zimbabwe,ZW,ZWE,716,AFR,2015,NaN,NaN,NaN,NaN,...,433.0,189.0,8.0,75.0,22.0,5.0,4.0,0.0,1.0,0.0
5107,Zimbabwe,ZW,ZWE,716,AFR,2016,NaN,NaN,NaN,NaN,...,488.0,276.0,0.0,149.0,44.0,5.0,0.0,1.0,2.0,1.0
5108,Zimbabwe,ZW,ZWE,716,AFR,2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### WHO - TB dictionary

In [25]:
fnameDic = "../data/TB_data_dictionary_2020-09-11.csv"
os.path.exists(fnameDic)

True

In [26]:
dfdic = pd.read_csv(fname)
dfdic

,country,iso2,iso3,iso_numeric,g_whoregion,year,rep_meth,new_sp_coh,new_sp_cur,new_sp_cmplt,...,mdr_coh,mdr_succ,mdr_fail,mdr_died,mdr_lost,xdr_coh,xdr_succ,xdr_fail,xdr_died,xdr_lost
0,Afghanistan,AF,AFG,4,EMR,1994,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AF,AFG,4,EMR,1995,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AF,AFG,4,EMR,1996,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1997,100.0,2001.0,786.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1998,100.0,2913.0,772.0,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,Zimbabwe,ZW,ZWE,716,AFR,2013,NaN,NaN,NaN,NaN,...,351.0,207.0,1.0,43.0,14.0,NaN,NaN,NaN,NaN,NaN
5105,Zimbabwe,ZW,ZWE,716,AFR,2014,NaN,NaN,NaN,NaN,...,381.0,193.0,6.0,66.0,21.0,0.0,0.0,0.0,0.0,0.0
5106,Zimbabwe,ZW,ZWE,716,AFR,2015,NaN,NaN,NaN,NaN,...,433.0,189.0,8.0,75.0,22.0,5.0,4.0,0.0,1.0,0.0
5107,Zimbabwe,ZW,ZWE,716,AFR,2016,NaN,NaN,NaN,NaN,...,488.0,276.0,0.0,149.0,44.0,5.0,0.0,1.0,2.0,1.0
5108,Zimbabwe,ZW,ZWE,716,AFR,2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Quantos paises?

## use dataframe.coluna.unique()

In [27]:
df.country.unique()[:20]

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium'], dtype=object)

In [28]:
countries = df.country.unique()
len(countries)

217

### Filtrando um país (vamos ver melhor na próxima aula)

In [29]:
df[df.country == 'Austria'].head(3)

,country,iso2,iso3,iso_numeric,g_whoregion,year,rep_meth,new_sp_coh,new_sp_cur,new_sp_cmplt,...,mdr_coh,mdr_succ,mdr_fail,mdr_died,mdr_lost,xdr_coh,xdr_succ,xdr_fail,xdr_died,xdr_lost
288,Austria,AT,AUT,40,EUR,1994,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,Austria,AT,AUT,40,EUR,1995,100.0,383.0,6.0,309.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,Austria,AT,AUT,40,EUR,1996,100.0,370.0,5.0,305.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Próxima aula será de Pandas ...

### Posso acessar remotamente?
### O pandas lê localmente e remotamente

### WHO

https://www.who.int/
  - Data
    - All data collections
      - Global Observatory on Health R&D - Global Observatory on Health R&D
        - Global Health Observatory data repository - https://apps.who.int/gho/data
          - Adult mortality - table: right mose in Download dataset as CSV

### Tabela de mortalidade adulta

In [30]:
url = 'https://apps.who.int/gho/athena/data/GHO/WHOSIS_000004?filter=COUNTRY:-;REGION:*&x-sideaxis=REGION;YEAR&x-topaxis=GHO;SEX&profile=crosstable&format=csv'

In [31]:
dfam = pd.read_csv(url)
dfam.shape

(120, 5)

In [32]:
dfam.head()

,Unnamed: 0,Unnamed: 1,Adult mortality rate (probability of dying between 15 and 60 years per 1000 population),Adult mortality rate (probability of dying between 15 and 60 years per 1000 population).1,Adult mortality rate (probability of dying between 15 and 60 years per 1000 population).2
0,WHO region,Year,Both sexes,Male,Female
1,Global,2016,142,171,112
2,Global,2015,144,174,114
3,Global,2014,146,176,115
4,Global,2013,148,178,117